html,
body {
	padding: 0;
	margin: 0;
}

.image-btn {
	cursor: pointer;
}

.default-primary-icon-color { color: #4CAF50; }

#settings-btn {
	position: fixed;
	bottom:10px;
	left:10px;
  font-size: 40px;
}